* {
    text-decoration: none;
    margin: 0;
    padding: 0px ;
}

html {
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
}

body {
    margin: auto;
    padding: 0px;
    font-family: 'Montserrat-M';
    position: relative;
    background-image: url(asset/7.1.jpg);
    background-size: 170%;
    background-repeat: no-repeat;
    background-position-x: -105px;
    background-position-y: top;
}

.text1 {
    color: whitesmoke;
    text-align: center;
    margin-top: 550px;
}

.font1 {
    font-size: 12px;
    font-family: "Montserrat-M";
    letter-spacing: 3px;
}

.font2 {
    font-family: "Alison";
    font-size: 60px;
    margin-top: 6px;
    margin-bottom: 19px;
}

.font3 {
    font-family: "Times-B";
    font-size: 20px;
    margin-top: 8px;
}

.font4 {
    font-size: 13px;
    font-family: "Montserrat-M";
}

.lead {
    width: 95%;
    overflow: hidden;
    padding: 60px 0;
    background: transparent;
    white-space: nowrap;
    position: relative;
    margin: 0 auto;
  }
  
  .lead:before,
  .lead:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .lead:hover .lead-slide {
    animation-play-state: start;
  }
  
  .lead-slide {
    display: inline-block;
    animation: 20s slide infinite linear;
  }
  
  .lead-slide img {
    height: 150px;
    margin: 0 5px;
    border-radius: 15px;
  }

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

@font-face {
    font-family: Higuen;
    src: url(asset/Higuen.otf);
}

@font-face {
    font-family: Montserrat-M;
    src: url(asset/Montserrat-M.ttf);
}

@font-face {
    font-family: Montserrat-B;
    src: url(asset/Montserrat-Bold.ttf);
}


@font-face {
    font-family: Poppins-R;
    src: url(asset/Poppins-R.otf);
}

@font-face {
    font-family: Montserrat-R;
    src: url(asset/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Alison;
    src: url(asset/Alison.otf);
}

@font-face {
    font-family: Times-B;
    src: url(asset/Times-B.ttf);
}